body {
    background-color: #efeee7;
    margin: 0;
    padding: 0;
    font-family:"Georgia","Times New Roman","Times,serif";
    color: #333333;
    line-height: 150%;
    
}

h1 {color:#efeee7;
    background-color: #333333;
    color: #efeee7;
    font-size:28px;
    margin:0;
    text-align: center;
    padding-top: 0;
}

h2 {font-size:24px;
    margin: 0 auto;
}
a {
    color: #d21034;
  }


.container {
    width:1024px;
    margin: 0 auto;
}


#contact-info,
#mainbio,
#bio-image {
    float: left;
}

#bio-image {
    width:200px;
    
}

#main-bio {
    width: 70%;
}

#contact-info {
    width: 30%;
    
}

#l1 {
    color: #d21034;
}